{{/* os & arch */}}
{{- $is_linux := false -}}
{{- $is_mac := false -}}
{{- $is_unix := false -}}
{{- $is_windows := false -}}
{{- $is_apple_silicon := false -}}

{{/* device type */}}
{{- $type_laptop := false -}}
{{- $type_desktop := false -}}
{{- $type_server := false -}}

{{/* project */}}
{{- $project_eurosport := false -}}
{{- $project_mega_lap := false -}}
{{- $project_personal := false -}}
{{- $project_vbr_tech := false -}}

{{/* features */}}
{{- $with_aws := false -}}
{{- $with_docker := false -}}
{{- $with_golang := false -}}
{{- $with_javascript := false -}}
{{- $with_php := false -}}
{{- $with_rust := false -}}
{{- $with_nomad := false -}}
{{- $with_terraform := false -}}

{{- if eq .chezmoi.os "linux" -}}
{{-   $is_linux = true -}}
{{- end -}}

{{- if eq .chezmoi.os "darwin" -}}
{{-   $is_mac = true -}}
{{-   if eq .chezmoi.arch "arm64" -}}
{{-     $is_apple_silicon = true -}}
{{-   end -}}
{{- end -}}

{{- if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
{{-   $is_unix = true -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $is_windows = true -}}
{{- end -}}

{{/* hosts */}}
{{- if eq .chezmoi.hostname "VEBERArnaud-MacBookPro2012" -}}
{{-   $type_laptop = true -}}
{{-   $project_personal = true -}}
{{- end -}}

{{- if eq .chezmoi.hostname "VEBERArnaud-MacBookPro2017" -}}
{{-   $type_laptop = true -}}
{{-   $project_personal = true -}}
{{- end -}}

{{- if eq .chezmoi.hostname "VEBERArnaud-MacMini2020" -}}
{{-   $type_desktop = true -}}
{{-   $project_personal = true -}}
{{- end -}}

{{- if eq .chezmoi.hostname "VEBERArnaud-MacBookPro2023" -}}
{{-   $type_laptop = true -}}
{{-   $project_eurosport = true -}}
{{-   $project_mega_lap = true -}}
{{-   $project_personal = true -}}
{{-   $project_vbr_tech = true -}}
{{- end -}}

{{- if eq .chezmoi.hostname "VEBERArnaud-MacMini2023" -}}
{{-   $type_desktop = true -}}
{{-   $project_eurosport = true -}}
{{-   $project_mega_lap = true -}}
{{-   $project_personal = true -}}
{{-   $project_vbr_tech = true -}}
{{- end -}}

{{- if eq .chezmoi.hostname "VEBERArnaud-MacMini2023s" -}}
{{-   $type_desktop = true -}}
{{-   $project_eurosport = true -}}
{{-   $project_mega_lap = true -}}
{{-   $project_personal = true -}}
{{-   $project_vbr_tech = true -}}
{{- end -}}

{{/* with */}}
{{- if $project_personal -}}
{{-   $with_aws = true -}}
{{-   $with_docker = true -}}
{{-   $with_golang = true -}}
{{-   $with_javascript = true -}}
{{-   $with_nomad = true -}}
{{-   $with_php = true -}}
{{-   $with_rust = true -}}
{{-   $with_terraform = true -}}
{{- end -}}

{{- if $project_vbr_tech -}}
{{-   $with_aws = true -}}
{{-   $with_docker = true -}}
{{-   $with_javascript = true -}}
{{-   $with_terraform = true -}}
{{- end -}}

{{- if $project_eurosport -}}
{{-   $with_aws = true -}}
{{-   $with_docker = true -}}
{{-   $with_javascript = true -}}
{{-   $with_terraform = true -}}
{{- end -}}

{{- if $project_mega_lap -}}
{{-   $with_aws = true -}}
{{-   $with_docker = true -}}
{{-   $with_javascript = true -}}
{{-   $with_terraform = true -}}
{{- end -}}

[data]
    is_apple_silicon = {{ $is_apple_silicon }}
    is_linux = {{ $is_linux }}
    is_mac = {{ $is_mac }}
    is_unix = {{ $is_unix }}
    is_windows = {{ $is_windows }}
    type_laptop = {{ $type_laptop }}
    type_desktop = {{ $type_desktop }}
    type_server = {{ $type_server }}
    project_eurosport = {{ $project_eurosport }}
    project_mega_lap = {{ $project_mega_lap }}
    project_personal = {{ $project_personal }}
    project_vbr_tech = {{ $project_vbr_tech }}
    with_aws = {{ $with_aws }}
    with_docker = {{ $with_docker }}
    with_golang = {{ $with_golang }}
    with_javascript = {{ $with_javascript }}
    with_nomad = {{ $with_nomad }}
    with_php = {{ $with_php }}
    with_rust = {{ $with_rust }}
    with_terraform = {{ $with_terraform }}
