# You may need to manually set your language environment
export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'

# default editor
export EDITOR='vim'
export VISUAL='vim'

# history
export HISTFILE=~/.zsh_history
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL='ignoreboth'
export HISTIGNORE='ls:cd:cd -:pwd:exit:date:* --help'

# pager
export PAGER='less'

# Set the default Less options.
export LESS='-F -g -i -M -R -S -w -X -z-4'

# Set the Less input preprocessor.
# Try both `lesspipe` and `lesspipe.sh` as either might exist on a system.
if (( $#commands[(i)lesspipe(|.sh)] )); then
  export LESSOPEN="| /usr/bin/env $commands[(i)lesspipe(|.sh)] %s 2>&-"
fi

# Don't clear the screen after quitting a manual page
export MANPAGER='less -X'

# color scheme
export TERM='xterm-256color'

# enable cheat syntax highlighting
export CHEATCOLORS=true

# Homebrew
{{ if stat "/opt/homebrew/bin/brew" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ else if stat "/usr/local/bin/brew" -}}
eval "$(/usr/local/bin/brew shellenv)"
{{ end -}}
export HOMEBREW_CASK_OPTS="--appdir=${HOME}/Applications --fontdir=${HOME}/Library/Fonts"
export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_INSECURE_REDIRECT=1

{{ if .with_golang -}}
# Go
export GOPATH=$HOME/Developer
export PATH=$PATH:$GOPATH/bin
{{- end -}}

{{ if .with_javascript }}
# NVM
export NVM_DIR="$HOME/.nvm"
[ -s "${HOMEBREW_PREFIX}/opt/nvm/nvm.sh" ] && source "${HOMEBREW_PREFIX}/opt/nvm/nvm.sh"

# Auto-switch Node version when entering a directory with .nvmrc
autoload -U add-zsh-hook
load-nvmrc() {
  local nvmrc_path="$(nvm_find_nvmrc)"
  if [ -n "$nvmrc_path" ]; then
    local nvmrc_node_version=$(nvm version "$(cat "${nvmrc_path}")")
    if [ "$nvmrc_node_version" = "N/A" ]; then
      echo "Node $(cat "${nvmrc_path}") not installed, using default"
      nvm use default
    elif [ "$nvmrc_node_version" != "$(nvm version)" ]; then
      nvm use
    fi
  elif [ -n "$(PWD=$OLDPWD nvm_find_nvmrc)" ] && [ "$(nvm version)" != "$(nvm version default)" ]; then
    echo "Reverting to default Node"
    nvm use default
  fi
}
add-zsh-hook chpwd load-nvmrc
load-nvmrc

# NPM
export PATH=$PATH:./node_modules/.bin
{{ end }}

{{ if .with_rust }}
# Rust
export PATH="$HOME/.cargo/bin:$PATH"
{{ end }}

{{ if and .is_apple_silicon .user_openclaw }}
# whisper-cpp Metal acceleration
export GGML_METAL_PATH_RESOURCES="$(brew --prefix whisper-cpp)/share/whisper-cpp"
{{ end }}

# MySQL prompt
export MYSQL_PS1='(\D) \u@\h [\d] > '

# 20ms for key sequences
export KEYTIMEOUT=20

# direnv
eval "$(direnv hook zsh)"

# Setting rg as the default source for fzf
export FZF_DEFAULT_COMMAND='rg --files --hidden --glob "!.git"'

# zoxide for directory jumping
eval "$(zoxide init zsh)"

# Temporary Files
if [[ ! -d "$TMPDIR" ]]; then
  export TMPDIR="/tmp/$LOGNAME"
  mkdir -p -m 700 "$TMPDIR"
fi

TMPPREFIX="${TMPDIR%/}/zsh"

# Local config
[[ -f ~/.zshenv.local ]] && source ~/.zshenv.local
