//npm.pkg.github.com/:_authToken={{ onepasswordRead "op://Personal/Github/Tokens/npm_packages" }}
@mega-lap:registry=https://npm.pkg.github.com
@emmett-ai:registry=https://npm.pkg.github.com
@dmc-ai:registry=https://npm.pkg.github.com
