# Include local config (for private hosts not in version control)
Include config.local

###
# SCM
###

# Github
Host github.com
    AddKeysToAgent yes
    UseKeychain yes
    IdentityFile ~/.ssh/id_ed25519

# Gitlab
Host gitlab.com
    AddKeysToAgent yes
    UseKeychain yes
    IdentityFile ~/.ssh/id_ed25519

# Bitbucket
Host bitbucket.org
    AddKeysToAgent yes
    UseKeychain yes
    IdentityFile ~/.ssh/id_ed25519

###
# Global settings
###
Host *
    AddKeysToAgent yes
    UseKeychain yes
    ServerAliveInterval 300
    ServerAliveCountMax 2
    ControlMaster auto
    ControlPath ~/.ssh/control-%C
    ControlPersist 10m
    HashKnownHosts yes
