{{- /* Génère la config SSH locale depuis les items Server 1Password tagués 'ssh-config' */ -}}
{{- $items := output "op" "item" "list" "--tags" "ssh-config" "--format" "json" | fromJson -}}
{{- range $items }}
{{- $item := onepassword .id }}
{{- $hostname := "" }}
{{- $user := "" }}
{{- $aliases := list }}
{{- $port := "22" }}
{{- $identityFile := "~/.ssh/id_ed25519" }}
{{- range $item.fields }}
{{- if eq .label "HostName" }}{{ $hostname = .value }}{{ end }}
{{- if eq .label "User" }}{{ $user = .value }}{{ end }}
{{- if and (eq .label "aliases") .value }}{{ $aliases = append $aliases .value }}{{ end }}
{{- if and (eq .label "Port") .value }}{{ $port = .value }}{{ end }}
{{- if and (eq .label "IdentityFile") .value }}{{ $identityFile = .value }}{{ end }}
{{- end }}
# {{ $item.title }}
Host {{ $item.title }}{{ if $aliases }} {{ $aliases | join " " }}{{ end }}
    HostName {{ $hostname }}
    User {{ $user }}
    Port {{ $port }}
    IdentityFile {{ $identityFile }}
    AddKeysToAgent yes
    UseKeychain yes

{{ end -}}
