{{- if and .is_mac .user_veberarnaud -}}
{
    "claudeCode.preferredLocation": "sidebar",
    "editor.codeActionsOnSave": {
        "source.fixAll.eslint": "explicit"
    },
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.formatOnSave": true,
    "redhat.telemetry.enabled": false,
    "terraform.languageServer.enable": true,
    "window.commandCenter": true
}
{{- end -}}
