{{- if .is_mac -}}

{{- $taps := list
    "hashicorp/tap"
-}}

{{- $brews := list
    "chezmoi"
    "coreutils"
    "ctags"
    "curl"
    "diff-so-fancy"
    "direnv"
    "findutils"
    "fzf"
    "gimme-aws-creds"
    "git"
    "gnu-sed"
    "gnu-tar"
    "htop"
    "httpie"
    "hub"
    "jq"
    "moreutils"
    "openssl@3"
    "pre-commit"
    "reattach-to-user-namespace"
    "shellcheck"
    "the_platinum_searcher"
    "the_silver_searcher"
    "tig"
    "tldr"
    "tmux"
    "tree"
    "vim"
    "wget"
    "z"
    "zsh"
    "zsh-syntax-highlighting"
-}}

{{- $casks := list
    "1password-cli"
    "discord"
    "font-hack"
    "google-chrome"
    "gpg-suite"
    "lasso"
    "insomnia"
    "iterm2"
    "shadow"
    "slack"
    "visual-studio-code"
    "zoom"
-}}

{{- $nodes := list
    "lts/hydrogen"
    "lts/iron"
    "lts/jod"
-}}

{{- if .with_aws -}}
{{-   $brews = concat $brews (list "awscli") -}}
{{- end -}}

{{- if .with_docker -}}
{{-   $casks = concat $casks (list "docker-desktop") -}}
{{- end -}}

{{- if .with_golang -}}
{{-   $brews = concat $brews (list "go") -}}
{{- end -}}

{{- if .with_javascript -}}
{{-   $brews = concat $brews (list "nvm") -}}
{{- end -}}

{{- if .with_php -}}
{{-   $brews = concat $brews (list "php") -}}
{{- end -}}

{{- if .with_terraform -}}
{{-   $brews = concat $brews (list "hashicorp/tap/terraform") -}}
{{- end -}}

#!/bin/bash

set -eufo pipefail

export HOMEBREW_CASK_OPTS="--appdir=${HOME}/Applications --fontdir=${HOME}/Library/Fonts --no-binaries"
export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_INSECURE_REDIRECT=1

brew update
brew upgrade
brew upgrade --cask
brew bundle --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
brew cleanup

{{ if .with_javascript -}}
export NVM_DIR="$HOME/.nvm"
[ -s "${HOMEBREW_PREFIX}/opt/nvm/nvm.sh" ] && source "${HOMEBREW_PREFIX}/opt/nvm/nvm.sh"
{{   range ($nodes) -}}
nvm ls "{{ . }}" &>/dev/null || nvm install "{{ . }}"
{{   end -}}
{{- end -}}

{{- end -}}
